<!DOCTYPE html>
<html lang="zxx">

<head>
  <base href="/">

  <meta charset="UTF-8">
  <meta name="description" content="codelean Template">
  <meta name="keywords" content="codelean, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CodeLean eCommerce</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="https://www.unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>
<router-outlet></router-outlet>
<!-- Js Plugins -->
</body>

</html>
